// fonts
$font-open: 'Open Sans', sans-serif;
$font-rubik:  'Rubik', sans-serif;

// colors
$color-black: #000000;
$color-gunmental: #54585a;
$color-blue-green: #099d8d;
$color-cool-grey: #b8b8b9;
$color-white: #ffffff;
$color-aqua: #14d9c4;
$color-light-grey-blue:rgba(184, 184, 185, 0.1);
$color-black-8: rgba(0, 0, 0, 0.08);
