.quote{
    width: 290px;
    height: 80px;
    font-size: 18px;
    color: $color-black;
    margin: 387px 15px 0 ;
    padding: 15px 15px 15px 15px;
    font-weight: bold;
}

.team{
    height: 504px ;
    margin: 15px;
    
    &__title{
        text-transform: uppercase;
        color: $color-aqua;
        display: flex;
        flex-direction: column wrap;
        justify-content: center;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 15px;
        

        &--p{
            color: $color-gunmental;
            font-size: 16px;
           
        }

    }
}