<section class="aboutus">
    <h2 class="aboutus__title">Quienes Somos</h2>
    <figure class="aboutus__figure" >
        <img class="aboutus__image" src="../images/IMG_5207.jpg" alt="Foto chica" />

    </figure>
    <h3  class="aboutus__name">Kristin Martinez</h3>
    <p class="aboutus__description">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error ipsam eum
    nisi atque odit iure? Delectus, enim. Sint omnis repudiandae iste placeat
    magnam iure, maxime autem aperiam debitis unde quaerat.
    </p>
</section>

<section>
  <p>iconos redes</p>
</section>

