<section>
    <h2 class="aboutus__title">Quienes Somos</h2>

  <div class="aboutus">
    <figure class="aboutus__figure">
      <img
        class="aboutus__image"
        src="../images/IMG_5207.jpg"
        alt="Foto chica"
      />
    </figure>
    <div>
      <h3 class="aboutus__name">Kristin Martinez</h3>
      <br />
      <p class="aboutus__description">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error ipsam eum
      nisi atque odit iure? Delectus, enim. Sint omnis repudiandae iste placeat
      magnam iure, maxime autem aperiam debitis unde quaerat.
      </p>
   
      <div class="aboutus__boxIcon">
        <a class="aboutus__icon aboutus__dot" href=""><i class="fa-brands fa-linkedin-in"></i></a>
        <a class="aboutus__icon aboutus__dot" href=""><i class="fa-brands fa-github-alt"></i></a>
        <a class="aboutus__icon aboutus__dot" href=""><i class="fa-solid fa-envelope"></i></i></a>
      </div>
    </div>
  </div>

  <div class="aboutusreverse">
    <figure class="aboutusreverse__figure">
      <img
        class="aboutusreverse__figure--image"
        src="../images/IMG_5207.jpg"
        alt="Foto chica"
      />
    </figure>
    <div>
      <h3 class="aboutusreverse__name">Kristin Martinez</h3>
      <br />
      <p class="aboutusreverse__description">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error ipsam eum
      nisi atque odit iure? Delectus, enim. Sint omnis repudiandae iste placeat
      magnam iure, maxime autem aperiam debitis unde quaerat.
      </p>
   
      <div class="aboutusreverse__boxIcon">
        <a class="aboutusreverse__icon aboutus__dot" href=""><i class="fa-brands fa-linkedin-in"></i></a>
        <a class="aboutusreverse__icon aboutus__dot" href=""><i class="fa-brands fa-github-alt"></i></a>
        <a class="aboutusreverse__icon aboutus__dot" href=""><i class="fa-solid fa-envelope"></i></i></a>
      </div>
    </div>
  </div>


  
  
   

  
</section>
