<section>
<div class="decoration"></div>
<div class="greycontainer">
  <section>
    <h2 class="greycontainer__streng">Fortalezas</h2><br>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores
      temporibus quo debitis nobis dicta praesentium sequi ad ab, quam,
      consequatur eligendi expedita in itaque facere doloribus, et eaque
      deleniti illum. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
     
    </p>
  </section>
  <section>
    <h2 class="greycontainer__weakness">Debilidades</h2><br>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores
      temporibus quo debitis nobis dicta praesentium sequi ad ab, quam,
      consequatur eligendi expedita in itaque facere doloribus, et eaque
      deleniti illum. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      
    </p>
  </section>
</div>
</section>
