<div class="decoration"></div>
<div class="greycontainer">
  <section>
    <h2 class="greycontainer__streng">Fortalezas</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores
      temporibus quo debitis nobis dicta praesentium sequi ad ab, quam,
      consequatur eligendi expedita in itaque facere doloribus, et eaque
      deleniti illum.
     
    </p>
  </section>
  <section>
    <h2 class="greycontainer__weakness">Debilidades</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla repellat
      laborum a odit tempore distinctio ab architecto officiis, alias, porro
      minus ipsam, cum iusto dicta consequatur laudantium veritatis dolore quod.
      
    </p>
  </section>
</div>
