<section class="team__quote">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</section>

<section class="team__description">

    <h2 class="team__description--title">Equipo</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
      veritatis in. Doloremque nihil officia accusamus dolorum? Perferendis
      minus recusandae reiciendis assumenda minima tempora labore quod rerum,
      illo voluptas dolore laboriosam.
    </p>
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ipsa alias
      nostrum voluptas, ducimus tempora distinctio laborum id, asperiores
      quaerat odio pariatur delectus reprehenderit quo? Magni eaque magnam illum
      dolorum!
    </p>

</section>
